<div class="course-card">
    <div class="course-card__description">
      <div class="course-card__description-title">{{course.title}}</div>
    </div>
    <div class="course-card__info">
        <div class="course-card__info-text">
        </div>
        <div class="course-card__info-actions">
            <div class="course-card__buttons">
                <app-button [buttonText]="'Show Course'" (click)="showCourse()"></app-button>
                <ng-content *ngIf="isEditMode"></ng-content>
            </div>
        </div>
    </div>
</div>
