<h2 class="text-align-center">Login</h2>
<div class="app-plate">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="login-form">
            <div>
                <div class="form__control">
                    <label for="email">Email</label>
                    <input  type="text"
                            id="email"
                            name="email"
                            [(ngModel)]="email"
                            placeholder="Input text"
                            required
                            emailValidator
                            #emailRef="ngModel"
                    />
                    <span id="emailErrorMessage" *ngIf="emailRef.invalid && emailRef.touched" class="text-danger">
                        Email is required.
                    </span>
                </div>
                <div class="form__control">
                    <label for="password">Password</label>
                    <input
                            type="password"
                            id="password"
                            name="password"
                            [(ngModel)]="password"
                            placeholder="Input text"
                            required
                            #passwordRef="ngModel"
                    />
                    <span id="passwordErrorMessage" *ngIf="passwordRef.invalid && passwordRef.touched" class="text-danger">
                        Password is required.
                    </span>
                </div>
            </div>
            <div>
                <div class="form__action">
                    <app-button [buttonText]="'Login'"></app-button>
                </div>
                <div class="form__text">
                    If you don't have an account you may <strong>Registration</strong>
                </div>
            </div>
        </div>
    </form>
</div>
