<div class="course-page">
    <div class="course-menu">
        <app-search class="course-search" [placeholder]="'Input text'" (search)="search($event)"></app-search>
        <app-button *ngIf="(this.userStore.isAdmin$ | async)" [buttonText]="'Add New Course'" (click)="add()"></app-button>
    </div>

    <app-courses-list
            [courses]="(courses | async) ?? []"
            [editable]="(this.userStore.isAdmin$ | async) ?? false"
            (deleteCourse)="delete($event)"
            (editCourse)="edit($event)"
            (showCourse)="show($event)"
    ></app-courses-list>
</div>

