@import 'src/app/shared/styles/styles';

.course {
 min-width: 60vw;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & input {
      flex: 1;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;

    &-item {
      margin-right: 10px;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }
}

.authors-control {
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

.available-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
}

.author-list-item {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.form__action {
    display: flex;
    justify-content: right;
    margin-top: 16px;
    gap: 10px;
}