<h2>Course Edit / Create Page</h2>
<form [formGroup]="courseForm">
  <div class="app-plate">
    <div class="course">
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="Input text" formControlName="title"/>
        <span *ngIf="courseForm.get('title')?.invalid && courseForm.get('title')?.touched"
              id="titleErrorMessage" class="text-danger">Title is required and should be at least 2 characters long.</span>
      </div>
    </div>
  </div>

    <div class="form__action">
        <app-button [buttonText]="'Cancel'" (click)="onCancel()"></app-button>
        <app-button [buttonText]="'Create Course'" (click)="onSubmit()"></app-button>
    </div>
</form>
